@import "src/styles/variables";

.wrap {
  display: flex;
  flex-direction: column;

  textarea {
    min-height: 62px !important;
  }
}

.input {
  @include outer_shadow();
  position: relative;
  flex: 1;
  padding: ($gap / 2) ($gap / 2 + 1px);
}

.buttons {
  @include outer_shadow();

  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  background: transparentize(black, 0.8);
  padding: $gap / 2;
  border-radius: 0 0 $radius $radius;
  flex-wrap: wrap;
}

.uploads {
  padding: ($gap / 2);
  display: grid;
  grid-column-gap: $gap / 2;
  grid-row-gap: $gap / 2;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.attaches {
  @include outer_shadow();
}

.error {
  position: absolute;
  bottom: 0;
  left: 50%;
  background: $red;
  z-index: 10;
  font: $font_12_regular;
  box-sizing: border-box;
  padding: 0 $gap;
  border-radius: 4px 4px 0 0;
  transform: translate(-50%, 0);
  cursor: pointer;
}
