@import 'src/styles/variables';

.container {
  height: 100vh;
  width: 100%;
  margin-top: -$header_height;
  margin-bottom: -$header_height;
}

.room {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/images/room.svg') 50% 50%;
  background-size: cover;
}

.info {
  max-width: 400px;
  min-height: 40vh;
}
