@import 'src/styles/variables';

.likes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: relative;

  &.active {
    cursor: pointer;

    &::before {
      content: ' ';
      position: absolute;
      inset: -10px -10px -8px -16px;
    }

    &:not(.liked):hover .icon {
      @include pulse;
    }
  }

  &.liked {
    color: $color_like;
    fill: currentColor;
  }
}

.icon {
  position: relative;
  width: 14px;
  height: 14px;
}
