.container {
  height: $input_height;
  border-radius: $input_radius;
  display: flex;
  background: $button_bg_color;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $text_small;
  cursor: pointer;

  @include outer_shadow();
}
