@import "src/styles/variables";

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.button {
  position: relative;
  height: $input_height;
  border: none;
  box-sizing: border-box;
  padding: 0 30px;
  color: white;
  text-transform: uppercase;
  font: $font_14_semibold;

  outline: none;
  cursor: pointer;
  margin: 0;

  background: $button_bg_color;
  border-radius: $radius;

  fill: white;
  stroke: white;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  filter: grayscale(0);

  transition: opacity 0.25s, filter 0.25s, box-shadow 0.25s, background-color 0.5s;
  opacity: 0.8;

  @include outer_shadow();

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
  }

  svg {
    fill: white;
    stroke: white;
  }

  span {
    flex: 1;
  }

  &:global(.disabled) {
    touch-action: none;
    pointer-events: none;
  }

  &:hover {
    opacity: 1;

    &:global(.disabled) {
      cursor: auto;
    }

    &:active {
      box-shadow: transparentize(#e933a5, 0.6) 0 0 0;
    }
  }

  &:global(.stretchy) {
    flex: 1;
  }

  &:global(.disabled),
  &:global(.grey) {
    background: transparentize(white, 0.9);
    color: white;
  }

  &:global(.disabled) {
    opacity: 0.3;
  }

  &:global(.icon) {
    padding-left: 10px;
    padding-right: 10px;

    svg {
      margin: 0 !important;
    }
  }

  &:global(.is_loading) {
    span,
    svg {
      animation: pulse 0.25s infinite alternate;
    }
  }

  &:global(.has_icon_left) {
    padding-left: $gap;
    padding-right: $gap;
  }

  &:global(.has_icon_right) {
    padding-left: $gap;
    padding-right: $gap;
  }

  &.outline {
    background: transparent;
    box-shadow: inset transparentize(white, 0.8) 0 0 0 2px;
    color: transparentize(white, 0.8);

    svg {
      fill: transparentize(white, 0.8);
    }
  }

  &.gray {
    background: lighten($content_bg, 8%);
  }

  &.link {
    background: transparent;
    color: white;
    box-shadow: none;
    padding: 0 $gap;

    svg {
      fill: white;
    }
  }
}

.micro {
  height: 20px;
  font: $font_12_semibold;
  padding: 0 15px;
  border-radius: $radius / 2;

  &:global(.round) {
    border-radius: 10px;
  }
}

.mini {
  height: 26px;
  border-radius: $radius / 2;

  &:global(.round) {
    border-radius: 14px;
  }
}

.small {
  height: 32px;

  svg {
    width: 24px;
    height: 24px;
  }

  &:global(.round) {
    border-radius: 16px;
  }
}

.normal {
  height: 38px;

  &:global(.round) {
    border-radius: 19px;
  }
}

.big {
  height: 40px;

  &:global(.round) {
    border-radius: 20px;
  }
}

.giant {
  height: 50px;
  padding: 0 15px;
  min-width: 50px;

  &:global(.round) {
    border-radius: 25px;
  }
}

.disabled {
  opacity: 0.5;
}

.icon_left {
  margin-right: $gap / 2 !important;
  width: 20px;
  height: 20px;
}

.icon_right {
  margin-left: $gap / 2 !important;
  width: 20px;
  height: 20px;
}

.primary {
  @include outer_shadow;
  background: $red_gradient_alt;
}

.secondary {
  @include outer_shadow;
  background: $green_gradient;
}

.lab {
  background: $blue;
}
