@import "src/styles/variables";
@import "src/styles/mixins";

.note {
  min-width: 0;
  word-break: break-word;
  padding: 0;
  position: relative;

  & > * {
    @include row_shadow;
  }
}

.footer {
  font: $font_12_regular;
  text-align: right;
  opacity: 0.5;
}
