@import "src/styles/variables";

.messages {
  padding: $gap;
  background: $node_bg;
  display: flex;
  flex-direction: column !important;
  overflow: auto;

  & > * {
    margin: $gap * 0.5 0;

    &:last-child {
      margin-top: 0;
    }

    &:first-child {
      margin-bottom: 0;
    }
  }
}

.placeholder {
  font: $font_12_regular;
  padding: $gap;
  text-align: center;
}

div.warning.warning {
  padding: $gap;
  box-shadow: $red 0 0 0 2px;
  border-radius: $radius;
  font: $font_14_semibold;
  margin-bottom: $gap * 2;

  p {
    margin-bottom: $gap;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
