@import "src/styles/variables";

.messages {
  padding: $gap;
  background: $node_bg;
  display: flex;
  flex-direction: column-reverse !important;
  overflow: auto;

  & > * {
    margin: $gap / 2 0;

    &:last-child {
      margin-top: 0;
    }

    &:first-child {
      margin-bottom: 0;
    }
  }
}

.placeholder {
  font: $font_12_regular;
  padding: $gap;
  text-align: center;
}
