@import "~/styles/variables.scss";

.wrap {
  @include outer_shadow;
  @include lab_gradient;

  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  min-height: $cell;
}

.title {
  font: $font_24_bold;
  text-transform: uppercase;
}

.content {
  font: $font_14_regular;
  line-height: 19px;

  strong {
    font-weight: bold;
  }
}
