@import "src/styles/variables.scss";

.wrap {
  @include outer_shadow;

  background: url('../../../sprites/boris_lab.svg') 50% 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  border-radius: $radius;
  padding: $gap;
}

.title {
  font: $font_24_bold;
  text-transform: uppercase;
}

.content {
  font: $font_14_regular;
  line-height: 19px;
}
