@import "src/styles/variables";

.wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.content {
  position: relative;
  z-index: 3;
}

.comments {
  flex: 3 1;
  min-width: 0;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;

  @media (max-width: 1024px) {
    flex: 2 1;
  }
}

.buttons {
  background: $node_buttons_bg;
  flex: 1;
  border-radius: $panel_radius;
  box-shadow: $comment_shadow;
}

.panel {
  @include row_shadow;

  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
}
