@import 'src/styles/variables';

.button {
  flex: 1;
}

.card {
  padding: $gap;
  flex: 1;
  cursor: pointer;

  &.active {
    outline: 1px solid $color_primary;
  }
}

.title {
  font: $font_12_semibold;
  text-align: left;
  text-transform: uppercase;
  color: $gray_50;
}

.sample {
  @include outer_shadow;

  border-radius: 100%;
  flex: 0 1 20px;
  height: 20px;
}
