@import "~/styles/variables.scss";

.wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: $gap;

  @include tablet {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

.panel {
  margin-top: -7px;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: 0 $gap $gap 0;
  }
}
