@import 'src/styles/variables';

.stack {
  background: $content_bg_backdrop;
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  border-radius: $radius 0 0 $radius;

  @include sidebar_stack_limit {
    & > *:not(:last-child) {
      display: none;
    }
  }
}

.card {
  box-shadow: $gray_90 -1px 0, transparentize(black, 0.7) -5px 0 15px;
  border-radius: $radius 0 0 $radius;
  display: flex;
  flex-direction: column;
}

.content {
  border-radius: $radius;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  min-height: 0;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: $gap;
}
