@import 'src/styles/variables';

.wrap {
  background: $content_bg_lighter;
  // padding-bottom: 100%;
  border-radius: $radius;
  position: relative;
  user-select: none;
  height: $comment_height;
}

.thumb_wrap {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  z-index: 1;
  border-radius: $radius;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

.title {
  flex: 1;
  border-radius: $radius;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.progress {
  flex: 0 0 $comment_height;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 40px;
    height: 40px;
    fill: none;
    fill: white;
  }
}

.helper {
  opacity: 0.3;
}

.drop {
  width: 24px;
  height: 24px;
  background: #222222;
  position: absolute;
  right: $gap;
  top: $gap;
  border-radius: 12px;
  z-index: 2;
  transition: background-color 250ms, opacity 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 1;
    background-color: $color_danger;
  }
}
