.cell {
  padding: $gap / 4;
  box-sizing: border-box;
  display: flex;
  flex: 0 0;
  background: $cell_bg;
  border-radius: $cell_radius;
  position: relative;
  overflow: hidden;

  &:global(.is_hero) {
    .title {
      font: $font_hero_title;
    }
  }

  @include outer_shadow();
}

.text {
  line-height: 1.6em;
  font-size: 18px;
  font: $font_18_regular;
  position: absolute;
  top: 0;
  left: 0;
  padding: $gap;
}

.title {
  font: $font_cell_title;

  text-transform: uppercase;
  height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 $gap;

  position: absolute;
  bottom: $gap;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

:global {
  .vert-1 {
    grid-row-end: span 1;
  }

  .vert-2 {
    grid-row-end: span 2;
  }

  .hor-1 {
    grid-column-end: span 1;
  }

  .hor-2 {
    grid-column-end: span 2;
  }

  .is_text {
    background: none;
    padding: 10px;
    box-shadow: inset #444 0 0 0 1px;
  }
}
