.cell {
  padding: $gap / 4;
  box-sizing: border-box;
  display: flex;
  flex: 0 0;
  background: $cell_bg;
  border-radius: $cell_radius;
  position: relative;
  cursor: pointer;
  color: white;

  &:global(.is_hero) {
    .title {
      font: $font_hero_title;
    }
  }

  &:global(.is_text) {
    .title {
      display: none;
    }
  }

  @include outer_shadow();
}

.text {
  font: $font_18_regular;
  line-height: 23px;
  margin-top: $gap;
  letter-spacing: 0.5px;

  &::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
    pointer-events: none;
    touch-action: none;
    background: linear-gradient(transparentize($content_bg, 1), $content_bg 95%);
    z-index: 1;
    border-radius: 0 0 $radius $radius;
  }
}

.title,
.text_title {
  font: $font_cell_title;
  line-height: 1.1em;

  text-transform: uppercase;
  overflow: hidden;

  box-sizing: border-box;
  word-break: break-word;
}

.title {
  // max-height: 3.3em;
}

.text_title {
  margin-bottom: $gap / 2;
}

:global {
  .vert-1 {
    grid-row-end: span 1;
  }

  .vert-2 {
    grid-row-end: span 2;
  }

  .hor-1 {
    grid-column-end: span 1;
  }

  .hor-2 {
    grid-column-end: span 2;
  }

  :global(.horizontal),
  :global(.quadro) {
    grid-column-end: span 2;
  }

  :global(.vertical),
  :global(.quadro) {
    grid-row-end: span 2;
  }

  .is_text {
    background: none;
    padding: 10px;
    box-shadow: inset #444 0 0 0 1px;
  }
}

.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 50% 50% no-repeat;
  background-size: cover;
  z-index: 1;
  border-radius: $cell_radius + 2px;
  opacity: 0;
  transition: opacity 0.5s;
  will-change: transform;

  & > img {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.face {
  @include outer_shadow();

  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient($content_bg, transparentize($content_bg, 1));
  z-index: 2;
  border-radius: $cell_radius;
  padding: $gap;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  // height: 100%;
  // width: 80px;
  z-index: 4;
  border-radius: $radius;
  // opacity: 0;
  pointer-events: none;
  touch-action: none;
  transition: opacity 0.5s;
  box-sizing: border-box;
  // display: none;
  // padding: $gap;
  display: flex;
  align-items: stretch;
  justify-content: center;

  &:hover {
    opacity: 1;
    pointer-events: all;
    touch-action: auto;

    .menu_content {
      opacity: 1;
    }
  }
}

.menu_button {
  pointer-events: all;
  touch-action: auto;
  position: absolute;
  z-index: 4;
  width: 32px + $gap * 2;
  height: 32px + $gap * 2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;

  svg {
    fill: white;
    width: 30px;
    height: 30px;
  }
}

.menu_content {
  flex: 1;
  opacity: 0;
  background: $red_gradient;
  padding: (32px + $gap * 2) $gap $gap $gap;
  border-radius: $radius;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  & > * {
    margin-top: $gap;
    opacity: 0.5;
    transition: opacity 0.25s;

    &:hover {
      opacity: 1;
    }
  }

  svg {
    fill: #222222;
    width: 30px;
    height: 30px;
  }
}

.menu_sep {
  width: 20px;
  height: 2px;
  flex: 0 0 4px;
  background-color: #222222;
  opacity: 0.2;
  border-radius: 2px;
}
