.cell {
  padding: $gap / 4;
  box-sizing: border-box;
  display: flex;
  flex: 0 0;
  background: $cell_bg;
  border-radius: 4px;

  @include outer_shadow();
}

.title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
}
