.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

.header {}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: stretch;
}

.form {
  width: $content_width;
  min-height: $cell * 2;
  box-sizing: border-box;
  border-radius: $panel_radius;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background: rgba(0,0,0,0.1);

  @include outer_shadow();
}
