@import 'src/styles/variables';

$row_height: 26px;

.row {
  height: $row_height;
  padding: 0 $gap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font: $font_16_semibold;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.1s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover,
  &.selected {
    opacity: 1;
    background: transparentize($color_primary, 0.6);
  }

  &.right {
    color: lighten($color_primary, 4%);
    opacity: 1;
  }

  svg {
    margin-right: 5px;
    fill: currentColor;
    flex: 0 0 16px;
  }
}
