@import "src/styles/variables";

.wrap {
  ul {
    font: $font_12_regular;
    line-height: 24px;
    text-transform: uppercase;

    span {
      float: right;
      color: white;
      font: $font_12_semibold;
      line-height: 24px;
    }

    li {
      border-bottom: 1px solid #333333;
      color: #aaaaaa;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.title {
  font: $font_12_semibold;
  text-transform: uppercase;
  opacity: 0.3;
  margin: $gap * 2 0 $gap;
}

.subtitle {
  margin-left: $gap;
  font: $font_12_semibold;
  text-transform: uppercase;
}
