@import "~/styles/variables.scss";

.wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: $gap;

  @include tablet {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    padding: 0 $gap / 2;
  }
}

.panel {
  margin-top: -7px;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: 0 $gap $gap 0;
  }
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $blue_gradient;
  z-index: -1;
  opacity: 0.3;
}
