@import "src/styles/variables.scss";

.wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: $gap/2;

  @include tablet {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    padding: 0 $gap / 2;
  }
}

.panel {
  margin-top: -7px;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: 0 $gap $gap 0;
  }
}

.toggles {
  padding: $gap;
}

.container {
  width: 100%;
  max-width: $content_width;

  &.fluid {
    max-width: 100vw;
  }
}

.content {
  min-width: 0;
  margin-left: -$gap / 2;

  @include tablet {
    margin-left: 0;
    padding-bottom: $gap / 2;
  }
}

.head {
  padding: 0 $gap / 2;
  display: none;
}
