@import "~/styles/variables.scss";

@mixin fluid {
  @media(min-width: $content_width) {
    .fluid & {
      @content
    }
  }
}

.wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: $gap;

  @include tablet {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    padding: 0 $gap / 2;
  }

  @include fluid {
    grid-template-columns: 3fr $cell;
    padding: 0 $gap;
  }
}

.panel {
  margin-top: -7px;
}

.tags {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: 0 $gap $gap 0;
  }
}

.toggles {
  padding: $gap;
}

.container {
  width: 100%;
  max-width: $content_width;

  &.fluid {
    max-width: 100vw;
  }
}

.content {
  min-width: 0;
}
