@import "src/styles/variables";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  z-index: 1;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.background {
  top: 32px;
  left: 0;
  right: 0;
  bottom: $gap;
  position: absolute;
  z-index: 0;
}

.title {
  flex: 0;
}
