@import "~/styles/variables";

.shade {
  background: linear-gradient(7deg, transparentize($content_bg, 0.05) 30px, transparentize($content_bg, 1) 250px);
  pointer-events: none;
  touch-action: none;

  &.black::after {
    content: ' ';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: blue;
  }

  @include tablet {
    opacity: 0.7;
  }
}
