@import "~/styles/variables";

.shade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(7deg, transparentize($content_bg, 0.05) 30px, transparentize($content_bg, 1) 250px);
  pointer-events: none;
  touch-action: none;

  @include tablet {
    opacity: 0.7;
  }
}
