@import 'src/styles/variables.scss';

.menu {
  position: relative;
  cursor: pointer;
}

.popper {
  @include outer_shadow;

  box-sizing: border-box;
  z-index: 12;
  border-radius: $radius;
  visibility: hidden;
  pointer-events: none;
  touch-action: none;
  background-color: $content_bg_backdrop;

  &.visible {
    visibility: visible;
    pointer-events: all;
    touch-action: initial;
  }

  &.fixed {
    z-index: 100;
  }

  &.translucent {
    @include blur;
  }
}

.arrow {
  @include popper_arrow;
}
