// main definitions (move to --vars)
$color_primary: var(--color_primary);
$color_danger: var(--color_danger);
$color_online: var(--color_online);
$color_offline: var(--color_offline);
$color_link: var(--color_link);
$color_flow: var(--color_flow);
$color_lab: var(--color_lab);
$color_boris: var(--color_boris);
$color_like: var(--color_like);

// gradients (move to --vars)
$danger_gradient: var(--danger_gradient);
$info_gradient: var(--info_gradient);
$warning_gradient: var(--warning_gradient);
$primary_gradient: var(--primary_gradient);
$magic_gradient: var(--magic_gradient);
$global_loader_gradient: var(--global_loader_gradient);
$flow_gradient: var(--flow_gradient);
$lab_gradient: var(--lab_gradient);

// backgrounds (move to --vars)
$content_bg: var(--content_bg);
$content_bg_dark: var(--content_bg_dark);
$content_bg_darker: var(--content_bg_darker);
$content_bg_light: var(--content_bg_light);
$content_bg_lighter: var(--content_bg_lighter);
$content_bg_lightest: var(--content_bg_lightest);

$content_bg_success: var(--content_bg_success);
$content_bg_info: var(--content_bg_info);
$content_bg_danger: var(--content_bg_danger);
$content_bg_backdrop: var(--content_bg_backdrop);
$content_bg_hero: var(--content_bg_hero);

// white shades (move to --vars)
$white: var(--white);
$gray_25: var(--gray_25);
$gray_50: var(--gray_50);
$gray_75: var(--gray_75);
$gray_90: var(--gray_90);

// global
$page_background: var(--page-background);
$page_background_top: var(--page-background-top);
$boris_background: var(--boris-background);
