$secondary_color: darken(desaturate($blue, 100%), 30%);
$vk_color: $secondary_color;

.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: $gap $gap 30px $gap;

  button {
    text-align: left;
  }

  h2 {
    margin: $gap 0 $gap * 4 !important;
  }
}

.secondary_button {
  background: $content_bg;
  box-shadow: inset $vk_color 0 0 0 2px;
  color: $vk_color;

  svg {
    fill: $vk_color;
    margin-right: $gap;
  }
}

.forgot_button {
  background: $content_bg;
  box-shadow: none;
  color: $secondary_color;
}

.buttons {
  margin: $gap * 2 0 0 0 !important;
  padding: $gap * 2 0 0 0;
  border-top: 1px solid black;
}

.footer {
  padding: $gap;

  button {
    // text-align: left;
  }
}

.links {
  font: $font_14_regular;
  text-align: center;

  a {
    color: lighten($content_bg, 40%);
  }
}
