$vk_color: darken(desaturate($blue, 100%), 30%);

.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: $gap $gap 30px $gap;

  button {
    text-align: left;
  }

  h2 {
    margin: $gap 0 $gap * 4 !important;
  }
}

.vk {
  background: $content_bg;
  box-shadow: inset $vk_color 0 0 0 2px;
  color: $vk_color;

  svg {
    fill: $vk_color;
    margin-right: $gap;
    // width: 24px;
    // height: 24px;
  }
}

.buttons {
  margin: $gap * 2 0 0 0 !important;
  padding: $gap * 2 0 0 0;
  border-top: 1px solid black;
}

.footer {
  padding: $gap;

  button {
    // text-align: left;
  }
}
