.wrap {
  background: lighten($content_bg, 4%);
  padding-bottom: 100%;
  border-radius: $radius;
  position: relative;
  user-select: none;
}

.thumb_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: $radius;
  overflow: hidden;

  &:global(.is_uploading) {
    .thumb {
      filter: blur(16px);
    }
  }
}

.thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: $radius;
  background: no-repeat 50% 50%;
  background-size: cover;
  opacity: 1;
  // filter: saturate(0);
}

.progress {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparentize(black, 0.5);

  svg {
    fill: none;
    // stroke: white
    fill: white;
  }
}

.helper {
  opacity: 0.3;
}

.drop {
  width: 24px;
  height: 24px;
  background: #222222;
  position: absolute;
  right: $gap;
  top: $gap;
  border-radius: 12px;
  z-index: 2;
  transition: background-color 250ms, opacity 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    opacity: 1;
    background-color: $red;
  }
}
