@import "src/styles/variables";

.content {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_18_semibold;
  color: transparentize(white, 0.5);
}

span.val {
  font: $font_48_bold;
  color: white;
  padding: $gap;
}

.card {
  height: 100%;
}
