@import "src/styles/variables";

.grid {
  box-sizing: border-box;

  display: grid;
  grid-column-gap: $gap;
  grid-row-gap: $gap;
  grid-template-columns: auto;
  grid-template-rows: $comment_height;
}
