.wrap {
  align-items: stretch;
  justify-content: center;
  display: flex;
  background: $editor_bg;
  flex: 1;
}

.group {
  display: flex;
  align-items: stretch !important;
  justify-content: stretch;
  //flex: 1;
}

.panel {
  background: $editor_panel_bg;
  flex: 1;
  border-radius: $radius;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.editor {
  flex: 2;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.editor_image_panel {
  flex: 1;
}

.editor_image_container {
  flex: 1;
}

.editor_image {
  background: transparentize(white, 0.95);
  padding-bottom: 100%;
  border-radius: $radius;
}

.feature_card {
  height: 120px;
  background: darken($main_bg_color, 6%);
  color: transparentize(white, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font: $font_18_semibold;
  box-shadow: none;
  padding: 0;
}

.cover {
  border-radius: $radius;
  background: url("http://37.192.131.144/full/attached/2017/11/f01fdaaea789915284757634baf7cd11.jpg");
  flex: 1;
  height: 120px;
  background-size: cover;
  opacity: 0.3;
}

.panel_main {
  flex: 1;
  display: flex;
}

.close_icon {
  height: 24px;
  width: 24px;
  background: transparentize(white, 0.95);
  flex: 0 0 24px;
  border-radius: $radius;
}

.views {
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
