.wrap {
  height: calc(100vh - 20px);
  align-items: stretch;
  justify-content: center;
  display: flex;
  background: $editor_bg;
}

.group {
  display: flex;
  align-items: stretch !important;
  justify-content: stretch;
  flex: 1;
}

.panel {
  background: $editor_panel_bg;
  flex: 0 0 33%;
  border-radius: 0 $radius $radius 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @include outer_shadow();
}

.editor {
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.editor_panel {
}

.editor_image_panel {
  flex: 1;
}

.editor_image_container {
  flex: 1;
}

.editor_image {
  background: transparentize(white, 0.95);
  padding-bottom: 100%;
  border-radius: $radius;
}

.feature_card {
  height: 100px;
  background: darken($main_bg_color, 3%);
}

.panel_main {
  flex: 1;
  display: flex;
}
