.tag {
  @include outer_shadow();

  height: $tag_height;
  background: $tag_bg;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  border-radius: ($tag_height / 2) 3px 3px ($tag_height / 2);
  font: $font_14_semibold;
  align-self: flex-start;
  padding: 0 8px 0 0;
  // box-shadow: $shadow_depth_2;
  margin: 0 $gap $gap 0;
  position: relative;

  &:global(.is_hoverable) {
    cursor: pointer;
  }

  &:global(.red) {
    background: $red_gradient;
  }

  &:global(.blue) {
    background: $blue_gradient;
  }

  &:global(.green) {
    background: $green_gradient;
  }

  &:global(.olive) {
    background: $olive;
    color: transparentize(black, 0.4);
  }

  &:global(.black) {
    background: transparentize(black, 0.7);
    box-shadow: none;
    color: transparentize(white, 0.6);
    font: $font_14_medium;

    .hole::after {
      background: transparentize(white, 0.98);
    }
  }

  &:global(.input) {
    color: transparent !important;
    min-width: 100px;
  }

  input {
    background: none;
    border: none;
    color: white;
    outline: none;
    display: inline-flex;
    position: absolute;
    font: inherit;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-left: $tag_height;
    padding-right: 5px;
    box-sizing: border-box;
  }
}

.hole {
  width: $tag_height;
  height: $tag_height;
  display: flex;
  // padding-right: 0px;
  align-items: center;
  justify-content: center;
  flex: 0 0 $tag_height;

  &::after {
    content: ' ';
    position: absolute;
    background: transparentize(black, 0.7);
    width: 14px;
    height: 14px;
    border-radius: 14px;
  }
}

.title {
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
