@import "src/styles/variables";

.wrap {
  display: flex;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  flex-direction: row;
  flex: 1;
}

.content {
  flex: 3;
  // flex: 0 1 $limited_width;
  // padding: $gap;
  box-sizing: border-box;
}

.column {
  flex: 1;
}

.info {
}

.comments {
  background: $node_bg;
  border-radius: $radius;
  padding: $gap;
}
