@import "../../../styles/variables";

.wrap {
  padding: $gap;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text {
  margin-top: $gap * 2;
}

.stats {
  margin-top: 1em;

  @include tablet {
    display: none;
  }
}
