@import 'src/styles/variables';

.wrap {
  @include sidebar_content(400px);
  width: 100vw;
  max-width: 400px;
}

.content {
  border-radius: $radius;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  min-height: 0;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.head {
  @include row_shadow;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: $gap;
}

.tag {
  flex: 1;
  display: flex;

  & > * {
    margin-bottom: 0;
  }
}

.close {
  cursor: pointer;

  svg {
    fill: white;
    stroke: white;
    color: white;
  }
}

.list {
  flex: 1 1 100%;
  padding: $gap;
  overflow: auto;
}

.sync {
  padding-left: $gap * 2;

  svg {
    fill: $gray_50;
  }
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $content_bg_dark;
  height: 2px;
  z-index: 2;
  pointer-events: none;
  touch-action: none;
}

.none {
  padding: 40px $gap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $gray_90;
  fill: currentColor;
  font: $font_18_semibold;
  stroke: none;
  line-height: 26px;
  flex: 1;

  div {
    margin-top: 24px;
    max-width: 200px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
  }
}
