@import 'src/styles/variables';

.wrap {
  padding: $login_dialog_padding;
}

.check {
  padding: $gap 0 0 $gap * 0.5;
  font: $font_12_medium;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  span {
    padding-left: $gap;
    color: $gray_50;
  }
}
