@keyframes appear {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  100% { transform: translate(0, 0); }
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 26;
  justify-content: flex-end;
  overflow: hidden;
  animation: appear 0.25s forwards;

  @include sidebar
}

.content {
  flex: 0 1 33vw;
  width: 33vw;
  min-width: 480px;
  max-width: 100vw;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: slideIn 0.5s 0.1s forwards;
  transform: translate(100%, 0);
  position: relative;
  z-index: 2;
}

.clicker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}
