.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  height: 120px;
}

.spacer {
  flex: 1;
}

.plugs {
  display: flex;
  user-select: none;
  font: $font_16_medium;
  text-transform: uppercase;

  > a,
  > div {
    display: flex;
    align-items: center;
    position: relative;
    padding: $gap;
    cursor: pointer;
    transition: color 0.25s;
    text-decoration: none;
    color: white;

    &:hover {
      color: $red;
    }

    &::after {
      content: ' ';
      margin-left: $spc;
      background: white;
      width: 4px;
      height: $gap;
      display: block;
      opacity: 0.2;
      border-radius: 4px;
    }

    &:first-child {
      padding-left: $spc + $gap;
    }

    &:last-child {
      // padding-right: 0;

      // &::after {
      // display: none;
      // }
    }
  }
}

.profile {
  padding: 5px 10px;
  box-shadow: white 0 0 0 1px;
  border-radius: 10px;
}

.user_button {
  align-items: center;
  border-radius: $input_radius;
  font: $font_16_semibold;
  text-transform: uppercase;
  flex: 0 !important;
  cursor: pointer;
  margin-left: $gap;
}

.user_avatar {
  @include outer_shadow();

  width: 32px;
  height: 32px;
  background: white;
  border-radius: $radius;
  margin-left: ($gap + 2px) !important;
  background: 50% 50% no-repeat $wisegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  svg {
    fill: #222222;
    stroke: #222222;
    width: 24px;
    height: 24px;
  }
}
