.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 500;
  height: 120px;
  z-index: 5;
}

.spacer {
  flex: 1;
}

.plugs {
  display: flex;
  user-select: none;
  text-transform: uppercase;
  align-items: center;

  &::after {
    content: ' ';
    margin-left: $spc;
    background: white;
    width: 4px;
    height: $gap;
    display: block;
    opacity: 0.2;
    border-radius: 4px;
    margin-right: 10px;
  }

  & > a.item,
  & > div.item {
    font: $font_16_medium;
    display: flex;
    align-items: center;
    position: relative;
    padding: $gap;
    cursor: pointer;
    transition: color 0.25s;
    text-decoration: none;
    color: white;
    white-space: nowrap;

    &:hover {
      color: $red;
    }

    &:first-child {
      padding-left: $spc + $gap;
    }

    &:last-child {
      // padding-right: 0;

      // &::after {
      // display: none;
      // }
    }
  }
}

.profile {
  padding: 5px 10px;
  box-shadow: white 0 0 0 1px;
  border-radius: 10px;
}

.user_button {
  flex: 0;
  padding-left: $gap / 2;
  cursor: pointer;
}
