@import 'src/styles/mixins';

.scene {
  position: absolute;
  inset: 0;

  &.clouds {
    background: url('/images/clouds.svg') no-repeat 50% 50%;
    background-size: cover;
  }

  &.nowhere {
    background: url('/images/nowhere_motel.svg') no-repeat 50% 50%;
    background-size: cover;
  }
}
