.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

.container {
  margin-top: 33vh;
  flex: 3;
  z-index: 2;
  padding: $gap;
  background: $content_bg;
  border-radius: $radius;
}

.column {
  flex: 1;
  background: $content_bg;
  height: 400px;
  position: relative;
  z-index: 2;
  margin-top: 33vh;
  margin-right: $gap;
  border-radius: $radius;
}

.content {
  padding: $gap;
  text-align: center;
  font: $font_24_bold;
  text-transform: uppercase;
  position: relative;
  display: none;
}

.cover {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  // background: linear-gradient($red, transparentize($red, 1));
  background: 50% 0% no-repeat/cover url('~/sprites/illustrate.svg');
}
