@import 'src/styles/variables';

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: $gap;
  text-transform: uppercase;

  div {
    flex: 1;
    font: $font_14_semibold;
  }
}

.button {
  color: $color_danger !important;

  svg {
    fill: $color_danger !important;
  }
}
