@import "src/styles/variables";

.wrap {
  padding: $gap * 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 33vh;
}

.title {
  text-transform: uppercase;
  font: $font_20_semibold;
  margin-bottom: $gap * 2;
}
