@import 'src/styles/variables';
@import 'src/styles/mixins';

div.wrap {
  display: flex;
  width: 100%;
  margin-right: 0;
  padding: $gap $gap * 0.5;
  align-items: flex-start;

  @include tablet {
    padding: 0 $gap * 0.5;
  }
}

.column {
  background-clip: padding-box;
  box-sizing: border-box;
  padding: 0 $gap * 0.5;

  @include tablet {
    padding: 0;
  }

  & > div {
    margin-bottom: $gap;
  }
}
