.wrap {
  width: 60px;
  height: 60px;
  border-radius: 32px !important;
  position: relative;
  border-radius: $radius;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.5s;
  background: $red_gradient;

  &:hover {}

  input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
}