@import 'src/styles/variables';

.text {
  @include blur;

  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.description {
  mask-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 0, 0, 0) 95%
  );
  flex: 1;
  overflow: hidden;
}

.heading {
  margin-bottom: 0.25em;
}
