// palette
$red: #ff3344;
$yellow: #ffd60f;
$dark_blue: #592071;
$blue: #582cd0;
$green: #00d2b9;
$olive: #8bc12a;
$orange: #ff7549;
$wisegreen: #007962;
$lightgreen: lighten(adjust_hue($wisegreen, -30deg), 10%);
$soft_blue: #3c75ff;

// main definitions
$primary: $red;
$secondary: $wisegreen;

// gradients
$red_gradient: linear-gradient(165deg, $orange -50%, $red 150%);
$yellow_gradient: linear-gradient(165deg, $yellow -50%, $red 150%);
$blue_gradient: linear-gradient(170deg, $blue, $dark_blue);
$green_gradient: linear-gradient(170deg, $lightgreen -50%, $wisegreen 150%);
$cyan_gradient: linear-gradient(260deg, $soft_blue -50%, #7b2653 150%);
$red_gradient_alt: linear-gradient(170deg, #ff4545, #d2004c);

$text_color: white;
$scroll_color: $red_gradient;
$scroll_inactive_opacity: 0.5;

// --color-base
$content_bg: #23201f;

// --color-base-light
$comment_bg: lighten($content_bg, 2%);
$tag_bg: lighten($content_bg, 2%);
$menu_bg: lighten($content_bg, 2%);

// --color-base-dark
$node_bg: darken($content_bg, 2%);
$inset_bg: linear-gradient(135deg, darken($content_bg, 2%), $content_bg);
