@use './themes/default' as theme_default;
@use './themes/horizon' as theme_horizon;

@import 'src/styles/variables';

@import 'swiper/css';
@import 'swiper/css/effect-fade';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css/zoom';
@import 'swiper/css/navigation';

@include theme_default.apply();
@include theme_horizon.apply();

html {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: $page_background;
  color: $white;
  font: $font_16_regular;
  -webkit-font-smoothing: antialiased;
  fill: white;
  stroke: white;

  &::before {
    content: '';
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: $page_background_top;
    pointer-events: none;
  }

  * {
    box-sizing: border-box;
  }
}

#app {
  min-height: 100vh;

  & > div {
    //min-height: 100vh;
  }
}

.grey {
  color: #555555;
}

.todo,
.done {
  color: #333333;
  border-radius: 3px;
  padding: 0 2px;
  font: $font_14_semibold;
  text-transform: uppercase;
}

.todo {
  background-color: $color_danger;
}

.done {
  background-color: $color_primary;
}

h2 {
  font: $font_24_bold;
}

.username {
  color: $color_link;
  font-weight: 600;
}

a {
  color: $color_link;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #999999;
  border: 4px solid $content_bg;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten(#999999, 4%);
}

::-webkit-scrollbar-thumb:active {
  background: lighten(#999999, 8%);
}

::-webkit-scrollbar-track {
  background: $content_bg;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

h3,
h2,
h1 {
  color: white;
  font-weight: 800;
}

h6,
h5,
h4 {
  color: white;
  font-weight: 600;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p {
  margin-bottom: $gap;

  &:last-child {
    margin-bottom: 0;
  }
}

#__next {
  min-height: 100vh;
}

small {
  font-size: 0.8em;
}
