// $red: #ff3344;
$red: #ff6553;
$yellow: #ffd60f;
$dark_blue: #3c75ff;
$blue: #3ca1ff;
$green: #00d2b9;
//$green: #00503c;
$olive: #8bc12a;
$orange: #ff7549;
$grass: #41800d;
$wisegreen: #007962;

$red_gradient: linear-gradient(165deg, $red, #ea057c 100%);
$blue_gradient: linear-gradient(170deg, $green, $dark_blue);
$green_gradient: linear-gradient(
  170deg,
  lighten(adjust_hue($wisegreen, 15deg), 10%) 0%,
  $wisegreen 100%
);
$purple_gradient: linear-gradient(170deg, $red, $dark_blue);
$cyan_gradient: linear-gradient(260deg, #3c75ff -50%, #7b2653 150%);

$red_gradient_alt: linear-gradient(270deg, #d2004c, #ff4545);
$purple_gradient_alt: linear-gradient(90deg, #442294, #ff4545);

$main_gradient: $green_gradient;

// $main_bg_color: darken(#2c2b2b, 4%);
$main_bg_color: darken(#332f2d, 6%);
$main_text_color: white;

$content_bg: darken($main_bg_color, 0%);
$content_bg_secondary: darken($content_bg, 2%);

$cell_bg: lighten($main_bg_color, 0%);
$card_bg: lighten($main_bg_color, 0%);

$text_normal: 16px;
$text_small: 14px;
$text_big: 20px;
$text_sign: 22px;

$input_bg_color: darken($content_bg, 2%);
$button_bg_color: $red_gradient;

$comment_bg: lighten($content_bg, 2%);
$panel_bg: transparent;
$node_bg: darken($content_bg, 2%);
$node_image_bg: darken($main_bg_color, 4%);
$node_title_background: darken($main_bg_color, 8%);

$editor_bg: $content_bg;
$editor_panel_bg: darken($editor_bg, 4%);

$scroll_color: $red_gradient;
$scroll_inactive_opacity: 0.5;

$side_pane_btn_color: lighten($main_bg_color, 0%);

$node_buttons_bg: darken($main_bg_color, 6%);

$tag_bg: lighten($main_bg_color, 4%);
