$red: #ff3344;
$yellow: #ffd60f;
$dark_blue: #3c75ff;
$blue: #3ca1ff;
$green: #00d2b9;
$olive: #8bc12a;
$orange: #ff7549;

$red_gradient: linear-gradient(170deg, $orange, $red);
$blue_gradient: linear-gradient(170deg, $green, $dark_blue);
$green_gradient: linear-gradient(170deg, $green, $olive);
$purple_gradient: linear-gradient(170deg, $red, $dark_blue);
//$color_yellow: complement($color_red);
//$color_yellow: yellow;

//$main_bg_color: #161616;
$main_bg_color: #111111;
$main_text_color: white;

$content_bg_color: #222222;
$content_bg_secondary: darken($content_bg_color, 3%);

$cell_bg: #222222;

$text_normal: 16px;
$text_small: 14px;
$text_big: 20px;
$text_sign: 22px;

$input_bg_color: transparentize(black, 0.8);
$button_bg_color: $red;

$comment_bg: #191919;
$panel_bg: #191919;
$node_bg: #111111;
$node_image_bg: #131313;
$node_title_background: #191919;
