$red: #ff3344;
$yellow: #ffd60f;
$dark_blue: #3c75ff;
$blue: #3ca1ff;
$green: #00d2b9;
$olive: #8bc12a;
$orange: #ff7549;
$grass: #41800d;

$red_gradient: linear-gradient(165deg, $orange -50%, $red 150%);
$blue_gradient: linear-gradient(170deg, $green, $dark_blue);
$green_gradient: linear-gradient(170deg, $olive -20%, $grass 120%);
$purple_gradient: linear-gradient(170deg, $red, $dark_blue);
//$color_yellow: complement($color_red);
//$color_yellow: yellow;

//$main_bg_color: #161616;
//main_bg_color: #111214;
$main_bg_color: #2b2c34;
$main_text_color: white;

$content_bg: darken($main_bg_color, 4%);
$content_bg_secondary: darken($content_bg, 3%);

$cell_bg: lighten($main_bg_color, 0%);
$card_bg: lighten($main_bg_color, 0%);

$text_normal: 16px;
$text_small: 14px;
$text_big: 20px;
$text_sign: 22px;

$input_bg_color: transparentize(black, 0.8);
$button_bg_color: $red_gradient;

$comment_bg: lighten($main_bg_color, 0%);
$panel_bg: transparent;
$node_bg: $content_bg;
$node_image_bg: lighten($main_bg_color, 4%);
$node_title_background: darken($main_bg_color, 8%);

$editor_bg: $content_bg;
$editor_panel_bg: darken($editor_bg, 4%);

$scroll_color: $red_gradient;
$scroll_inactive_opacity: 0.5;

$side_pane_btn_color: lighten($main_bg_color, 0%);

$node_buttons_bg: darken($main_bg_color, 6%);

$tag_bg: lighten($main_bg_color, 4%);
