@import '~raleway-cyrillic/raleway.css';

html {
  min-height: 100vh;
}

body {
  background: darken($main_bg_color, 12%);
  min-height: 100vh;
  background: url('http://vault48.org/pixmaps/texture.jpg');
  color: $main_text_color;
  font: $font_16_regular;
  -webkit-font-smoothing: antialiased;
  // font-size: 16px;
  fill: white;
  stroke: white;

  &::before {
    content: '';
    position: absolute;
    height: 400px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('http://vault48.org/pixmaps/texture_alt.jpg');
    pointer-events: none;
  }
}

:global(#app) {
  min-height: 100vh;

  & > div {
    min-height: 100vh;
  }
}

:global(.gap) {
  height: $gap;
}

:global(.spc) {
  height: $spc;

  &:global(.double) {
    height: $spc * 2;
  }
  &:global(.quadro) {
    height: $spc * 4;
  }
  &:global(.sixty) {
    height: $spc * 6;
  }
}

:global(.padded) {
  padding: $gap;
}

:global(.default_container) {
  width: 100%;
  max-width: $content_width;
  margin: auto;
}

:global(.content_container) {
  // background: $content_bg_color;
}

:global(.head_container) {
  //background: $main_bg_color;
}

:global(.footer) {
  height: 40px;
}

:global(h2) {
  font: $font_24_bold;
}
