@import "~raleway-cyrillic/raleway.css";

html {
  min-height: 100vh;
}

body {
  background: $main_bg_color;
  min-height: 100vh;
  //background: $main_bg_color url("../sprites/dots.svg");
  background: url("http://vault48.org/pixmaps/texture.jpg");
  //background: #111111;
  color: $main_text_color;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;

  &::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    //background: url("../sprites/circles.svg");
    background: url("http://vault48.org/pixmaps/texture_alt.jpg");
    pointer-events: none;
    //background-size: cover;
  }
}

:global(#app) {
  min-height: 100vh;

  & > div {
    min-height: 100vh;
  }
}

:global(.gap) {
  height: $gap;
}

:global(.spc) {
  height: $spc;

  &:global(.double) { height: $spc * 2; }
  &:global(.quadro) { height: $spc * 4; }
  &:global(.sixty)  { height: $spc * 6; }
}

:global(.padded) {
  padding: $gap;
}

:global(.default_container) {
  max-width: $content_width;
  margin: auto;
}

:global(.content_container) {
  background: $content_bg_color;
}


:global(.head_container) {
  //background: $main_bg_color;
}

:global(.footer) {
  height: 40px;
}

