.wrap.wrap {
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  flex: 0 0 100px;
  display: flex;
  margin: $gap;
  box-shadow: transparentize(white, 0.95) 0 0 0 1px;
  border-radius: $radius;
  background: transparentize(black, 0.8);
}

.avatar {
  border-radius: $radius;
  width: 100px;
  height: 100px;
  background-size: cover;
  position: relative;
  flex: 0 0 100px;
  left: -$gap;
  margin-right: 10px;
}

.field {
  flex: 1;
  padding: $gap;
}

.name {
  font: $font_24_bold;
  margin-bottom: 4px;
}

.description {
  color: transparentize($color: white, $amount: 0.7);
  font: $font_14_regular;
  text-transform: lowercase;
}
