@import 'src/styles/variables';

.wrap {
  @include tablet {
    display: none;
  }
}

.container {
  background: $content_bg_dark;
  border-radius: 0 $radius $radius 0;
  padding: $gap;
  box-sizing: border-box;
  flex: 0 0 auto;

  @include tablet {
    border-radius: 0;
  }
}

.super_powers {
  padding: $gap * 2 0;
}
