@import 'src/styles/variables';

.about {
  flex: 4;
}

.wrap {
  padding: $gap;
  z-index: 4;
}

.small {
  font: $font_12_regular;
  padding: 0 $gap 0;
}

div.base_info.base_info {
  align-items: stretch;
}

.avatar {
  flex: 1 0 90px;
}
