@import "~/styles/variables.scss";

.item {
  flex: 0 0 auto;
  padding: $gap / 2;
  fill: currentColor;
  color: darken(white, 50%);
  transition: color 0.25s;
  cursor: pointer;

  &:hover {
    color: white;
  }

  &.active {
    color: $blue;

    &:hover {
      color: lighten($blue, 4%);
    }
  }
}

.text {
  font: $font_16_semibold;
}
