.wrap {
  display: flex;
  flex-direction: column;

  textarea {
    min-height: 62px !important;
  }
}

.input {
  flex: 1;
  padding: ($gap / 2) ($gap / 2 + 1px);
}

.buttons {
  display: flex;
  flex-direction: row;
  background: transparentize(black, 0.8);
  padding: $gap / 2;
  border-radius: 0 0 $radius $radius;
  flex-wrap: wrap;
}
