@import 'src/styles/variables';

div.toast {
  @include outer_shadow;

  cursor: pointer;
  font: $font_14_semibold;
  user-select: none;
  text-transform: uppercase;
  color: white;
}

div.toast.error {
  background: $danger_gradient;
}

div.toast.success {
  background: $primary_gradient;
}

div.toast.info {
  background: $magic_gradient;
}
