@import "src/styles/variables";

.toast {
  @include outer_shadow;
  cursor: pointer;
  font: $font_14_semibold;
  user-select: none;
  text-transform: uppercase;
  color: white;
}

.error {
  background: $red_gradient_alt;
}

.success {
  background: $green_gradient;
}

.info {
  background: $cyan_gradient;
}
