.slider {
  padding-bottom: 15px;

  :global(.tns-controls) {
    display: none;
  }
}

.slide {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  img {
    max-height: calc(100vh - 150px);
    max-width: 100%;
    border-radius: $radius;
  }
}
