.slider {
  padding-bottom: 15px;
  overflow: hidden;
  transition: height 0.25s;

  :global(.tns-controls) {
    display: none;
  }
}

.slide {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  text-align: center;

  img {
    max-height: calc(100vh - 140px);
    max-width: 100%;
    border-radius: $radius;
  }
}
