@import 'src/styles/variables';

.wrap {
  display: flex;
  flex-direction: row;

  & > * {
    border-radius: 0;

    &:last-child {
      border-radius: 0 $radius $radius 0;

      &.small {
        border-radius: 0 3px 3px 0;
      }
    }

    &:first-child {
      border-radius: $radius 0 0 $radius;
    }
  }
}
