@import 'src/styles/variables';

.avatar {
  @include outer_shadow();

  border-radius: $radius;
  width: 100px;
  height: 100px;
  background: $content_bg 50% 50% no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.button {
  position: absolute;
  right: -4px;
  bottom: -4px;
  touch-action: none;
  pointer-events: none;
}
