.panel {
  padding: $gap;
  min-height: $input_height + $gap;
  display: flex;
  align-items: center;
  justify-content: stretch;
  box-sizing: border-box;
  flex-direction: row;

  @include outer_shadow();

  &:global(.seamless) { padding: 0; }
  &:global(.stretchy) { flex: 1; align-items: flex-start; }
}
