@import "src/styles/variables";

.group {
  display: flex;
  flex: 1;

  > :global(.group_filler) {
    flex: 1;
  }

  &.vertical {
    flex-direction: column;

    & > * {
      margin: $gap*0.5 0;

      &:first-child { margin-top: 0; }
      &:last-child { margin-bottom: 0; }
    }
  }

  &.horizontal {
    flex-direction: row;
    align-items: center;

    &.top {
      align-items: flex-start;
    }

    &.bottom {
      align-items: flex-end;
    }

    & > * {
      margin: 0 $gap * 0.5;

      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.seamless > * {
    margin: 0;
  }
}
