@import 'src/styles/variables';

.footer {
  display: flex;
  flex-direction: row;
  font: $font_12_semibold;
  background: $content_bg_dark;
  border-radius: 0 0 $radius $radius;
  align-items: center;
  text-transform: uppercase;
  color: $gray_75;
  padding-top: 2px;
  box-sizing: border-box;

  @include outer_shadow();
}

.slogan {
  flex: 1;
  padding: $gap;
}

.copy {
  padding: $gap;
}
