.wrap {
  display: flex;
  flex-direction: column-reverse !important;

  & > div {
    margin: ($gap / 2) 0;

    &:last-child {
      margin-top: 0;
    }

    &:first-child {
      margin-bottom: 0;
    }
  }
}
