.wrap {
  & > div {
    margin: 0 0 $gap 0;

    &:last-child {
      margin: 0;
    }
  }
}

.more {
  padding: $gap;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: darken($comment_bg, 8%);
  border-radius: $radius;
  text-transform: uppercase;
  color: darken(white, 50%);
  font: $font_14_regular;
  cursor: pointer;
  transition: background-color 0.25s;
  user-select: none;

  &:hover {
    background-color: lighten($comment_bg, 4%);
  }
}
