@import "src/styles/variables";

.wrap {
  @include sidebar_content;

  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;

  &.secondary {
    background: transparentize($content_bg, 0.2);
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: $gap / 2;
  background: $content_bg;
  z-index: 6;
  border-radius: 0 0 0 $radius;
  cursor: pointer;
  transition: all 100ms;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    fill: $red;
  }
}
