@import "src/styles/variables";

.wrap {
  flex: 1;
  background: $content_bg;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  box-shadow: $node_shadow;
  border-radius: $radius;
}

.left {
  flex: 1;
  background: darken($content_bg, 2%);
  border-radius: 0 $radius $radius 0;
  box-sizing: border-box;
}

.right {
  flex: 4;
}
