.wrap {
  flex: 1;
  background: $content_bg;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  box-shadow: $node_shadow;
  border-radius: $radius;
}

.left {
  flex: 1;
  background: darken($content_bg, 2%);
  border-radius: $radius 0 0 $radius;
  box-sizing: border-box;
}

.right {
  flex: 3;
}
