.wrap {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.card {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editor {
  min-height: 200px;
  min-width: 50vw;
  background: darken($content_bg, 4%);
  border-radius: $radius;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  flex: 1;
  @include outer_shadow();
}

.panel {
}
