@import "src/styles/variables";

.text {
  @include outer_shadow();

  background: $content_bg;
  padding: $gap * 4;
  border-radius: $radius;

  p {
    margin: $gap 0;
    font-size: 18px;
    line-height: 24px;
  }
}
