@import "src/styles/variables";

.text {
  @include outer_shadow();

  background: $content_bg;
  padding: $lab_gap;
  border-radius: $radius;

  p {
    font-size: 18px;
    line-height: 24px;

    &:not(:last-child) {
      margin-bottom: $gap;
    }
  }
}
