.wrap {
  background: $comment_bg;
  min-height: $comment_height;
  display: flex;
  position: relative;
  box-shadow: none;
  // box-shadow: $comment_shadow;

  &:global(.is_empty) {
    opacity: 0.5;
  }

  &:global(.is_same) {
    margin: 0 !important;
    border-radius: 0;
  }
}

.text {
  flex: 1;
}

.thumb {
  flex: 0 0 $comment_height;
  border-radius: $panel_radius 0 0 $panel_radius;
  background-color: transparentize(black, 0.9);
}

.thumb_image {
  height: $comment_height;
  background: transparentize(white, 0.97) no-repeat 50% 50%;
  border-radius: $panel_radius 0 0 $panel_radius;
  background-size: cover;
}
