@import "src/styles/variables";

.wrap {
  background: $comment_bg;
  min-height: $comment_height;
  display: flex;
  position: relative;
  box-shadow: none;
  min-width: 0;

  &:global(.is_empty) {
    opacity: 0.5;
  }

  &:global(.is_same) {
    margin: 0 !important;
    border-radius: 0;
  }

  @include tablet {
    flex-direction: column;
  }
}

.text {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  @include tablet {
    :global(.comment-author) {
      display: none !important;
      color: red;
    }
  }
}

.thumb {
  flex: 0 0 $comment_height;
  border-radius: $panel_radius 0 0 $panel_radius;
  background-color: transparentize(black, 0.9);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @include tablet {
    flex-direction: row;
    flex: 0 0 40px;
    padding: 8px;
    box-shadow: inset rgba(255, 255, 255, 0.05) 1px 1px, inset rgba(0, 0, 0, 0.1) -1px -1px;
    border-radius: $panel_radius $panel_radius 0 0;
  }
}

.thumb_image {
  height: $comment_height;
  background: transparentize(white, 0.97) no-repeat 50% 50%;
  border-radius: $panel_radius 0 0 $panel_radius;
  background-size: cover;
  flex: 0 0 $comment_height;
  will-change: transform;
  cursor: pointer;

  @include tablet {
    height: 32px;
    flex: 0 0 32px;
    border-radius: $panel_radius;
  }
}

.thumb_user {
  display: none;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0 $gap;
  font: $font_14_medium;

  @include tablet {
    display: flex;
  }
}
