.wrap {
  background: $comment_bg;
  min-height: $comment_height;
  display: flex;
  box-shadow: $comment_shadow;

  &:global(.is_empty) {
    opacity: 0.5;
  }
}

.text {
  flex: 1;
}

.thumb {
  flex: 0 0 $comment_height;
  background: transparentize(black, 0.9);
  border-radius: $panel_radius 0 0 $panel_radius;
}

.thumb_image {
  height: $comment_height;
  background: transparentize(white, 0.97);
  border-radius: $panel_radius 0 0 $panel_radius;
}
