@import 'src/styles/variables';

.content {
  padding: $gap * 2;
  min-height: 200px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 33vh;
  padding: 40px;
  box-sizing: border-box;
  color: $gray_75;
  text-transform: uppercase;
  font: $font_16_semibold;
}
