@import "../variables";

$margin: 1em;

.wrapper {
  pre {
    background-color: darken($comment_bg, 2%);
    border: {
      left: 4px solid $red;
      right: 4px solid $red;
    }
    font-family: monospace;
    font-size: 0.9em;
    border-radius: $radius;
    width: 100%;
    overflow: auto;
    padding: $gap;
    box-sizing: border-box;
    margin-bottom: $margin;

    code {
      color: transparentize(white, 0.5);
      font-family: monospace;
    }
  }

  p, li {
    code {
      background-color: darken($comment_bg, 4%);
      padding: 2px 0.5em;
      border-radius: 0.3em;
      color: transparentize(white, 0.5);
      font-size: 0.9em;
    }
  }

  img {
    max-width: 100%;
    margin-bottom: $margin;
  }

  p {
    margin-bottom: $margin;
  }

  h5, h4, h3, h2, h1 {
    color: white;
    font-weight: 800;
    line-height: 1.2em;
    margin: $margin * 1.5 0 $margin / 2;

    &:first-child {
      margin-top: $margin / 4;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.2em;
  }

  ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: $margin;

    li {
      margin: $margin/3 0;
    }
  }

  strong {
    font-weight: bold;
    color: white;
  }

  em {
    font-style: italic;
  }

  :global(.grey) {
    color: #555555;
    white-space: pre-line;
  }
}
