@import "src/styles/variables";

.container {
  min-height: 50px;
}

.track_vertical {
  height: 100%;
  width: 20px !important;
  position: absolute;
  right: 0;
  top: 0;
  opacity: $scroll_inactive_opacity;
  transition: opacity 0.25s;
  padding: $gap 0;
  box-sizing: border-box;
  z-index: 1;

  &:hover, &:active {
    opacity: 0.7;
  }

  &::after {
    content: ' ';
    width: 1px;
    background: $scroll_color;
    position: absolute;
    left: 12px;
    top: 0;
    height: 100%;
    opacity: 0.5;
    z-index: 1;
  }
}

.thumb_vertical {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  cursor: grab;

  &::after {
    position: absolute;
    content: ' ';
    width: 5px;
    top: 0;
    left: 10px;
    height: 100%;
    border-radius: 3px;
    background: $scroll_color;
    z-index: 2;
  }
}

.track_horizontal {
  height: 20px !important;
  width: 100% !important;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.3;
  transition: opacity 0.25s;
  padding: 0 $gap;
  box-sizing: border-box;
  z-index: 10;

  &:hover, &:active {
    opacity: 0.7;
  }

  &::after {
    content: ' ';
    height: 1px;
    background: $scroll_color;
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    opacity: 0.5;
    z-index: 1;
  }
}

.thumb_horizontal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  cursor: grab;

  &::after {
    position: absolute;
    content: ' ';
    height: 5px;
    top: 10px;
    left: 0;
    width: 100%;
    border-radius: 3px;
    background: $scroll_color;
    z-index: 2;
  }
}
