@import 'src/styles/variables.scss';

.wrap {
  padding: $gap $lab_gap $lab_gap;

  @include tablet {
    padding: $gap $lab_gap_mobile $lab_gap_mobile;
  }
}

.timestamp {
  font: $font_12_regular;
  color: $gray_50;
}

.comments,
.like {
  flex: 0;
  font: $font_16_semibold;
  color: $gray_50;
  fill: currentColor;
  stroke: none;
  column-gap: $gap !important;
  align-items: center;
  justify-content: center;
  padding-left: $gap;

  &.active {
    color: $color_danger;
  }
}
