@import "~/styles/variables.scss";

.wrap {
  padding: 0 $gap $gap;
}

.timestamp {
  font: $font_12_regular;
  color: darken(white, 40%);
}

.comments.comments {
  flex: 0;
  font: $font_16_semibold;
  color: darken(white, 50%);
  fill: currentColor;
  stroke: none;
  column-gap: $gap / 2 !important;

  &.active {
    color: $red;
  }
}

.like {

}
