@import "~/styles/variables.scss";

.wrap {
  padding: $gap $lab_gap $lab_gap;
}

.timestamp {
  font: $font_12_regular;
  color: darken(white, 40%);
}

.comments, .like {
  flex: 0;
  font: $font_14_semibold;
  color: darken(white, 50%);
  fill: currentColor;
  stroke: none;
  column-gap: $gap / 2 !important;
  align-items: center;
  justify-content: center;

  &.active {
    color: $red;
  }
}
