@import "src/styles/variables";

.text {
  padding: 0 $gap;
  font-weight: 300;
  font: $font_16_medium;
  line-height: 20px;
  box-sizing: border-box;
  position: relative;
  color: #cccccc;
  word-break: break-word;
  width: 100%;

  b {
    font-weight: 900;
  }

  i {
    font-style: italic;
  }

  hr {
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
  }

  :global(.green) {
    color: $wisegreen;
  }
}
