.menu {
  position: relative;
  cursor: pointer;
}

@import "src/styles/variables.scss";

.popper {
  @include outer_shadow;
  @include blur($content_bg, 15px, 0.5);

  box-sizing: border-box;
  z-index: 12;
  border-radius: $radius;

  &::after {
    content: ' ';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent lighten($menu_bg, 6%) transparent;
    position: absolute;
  }

  &.bottom-end::after {
    top: -11px;
    right: 10px;
  }

  &.bottom-start::after {
    top: -11px;
    left: 10px;
  }

  &.bottom::after {
    top: -11px;
    left: 50%;
    margin-left: -15px;
  }

  &.top-end::after {
    border-width: 10px 10px 0 10px;
    border-color: darken($menu_bg, 8%) transparent transparent transparent;
    bottom: -11px;
  }

  &.top-start::after {
    border-width: 10px 10px 0 10px;
    border-color: darken($menu_bg, 8%) transparent transparent transparent;
    top: auto;
    bottom: -11px;
    left: 10px;
  }

  &.top::after {
    border-width: 10px 10px 0 10px;
    border-color: darken($menu_bg, 8%) transparent transparent transparent;
    top: auto;
    bottom: -11px;
    left: 50%;
    margin-left: -15px;
  }
}
