@import "../../../styles/variables";

.wrap {
  padding: $gap;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text {
  margin-top: $gap * 2;
}

.buttons {
  flex: 0;
}

.stats {
  display: none;
}

.toggles {
  padding-top: $gap * 2;
}
