@import 'src/styles/variables';

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrap {
  animation: appear 1s;
}

.highlighted {
  box-shadow: $color_primary 0 0 0px 2px;
}

.anchor {
  display: block;
  position: relative;
  top: -($header_height * 2);
}
