@import "src/styles/variables";
@import "src/styles/colors";

.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  &> * {
    margin: $gap * 0.5;
  }
}

.edit {
  opacity: 0.5;
  float: right;
}
