@import '~/styles/variables';

.zone {
  position: relative;
  z-index: 1;
  outline: none;
}

.helper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $content_bg_success;
  border-radius: $radius;
  z-index: 10;
  box-shadow: inset $color_primary 0 0 0 2px;
  display: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  touch-action: none;

  &.active,
  :global(.dragging) & {
    display: flex;
  }
}

svg.icon {
  width: auto;
  height: 72px;
  fill: $color_primary;
}
