@import "~/styles/variables.scss";

.wrapper {
  border-radius: $radius;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  :global(.swiper-pagination) {
    left: 50%;
    bottom: $gap * 2;
    transform: translate(-50%, 0);
    background: darken($comment_bg, 4%);
    width: auto;
    padding: 5px 10px;
    border-radius: 10px;
    font: $font_10_semibold;
  }

  :global(.swiper-container) {
    width: 100%;
    position: relative;
  }

  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: white;
    font-size: 10px;
    width: 28px;
    height: 96px;
    background: transparentize($content_bg, 0);

    @include desktop {
      display: none;
    }

    &:global(.swiper-button-prev) {
      left: 0;
      justify-content: flex-start;
      padding-left: 10px;
      border-radius: 0 $radius $radius 0;
    }

    &:global(.swiper-button-next) {
      border-radius: $radius 0 0 $radius;
      right: 0;
      justify-content: flex-end;
      padding-right: 10px;
    }

    &:global(.swiper-button-disabled) {
      opacity: 0;
    }

    &::after {
      font-size: 24px;
      pointer-events: none;
      font-weight: 900;
    }
  }

}

.slide {
  text-align: center;
  text-transform: uppercase;
  font: $font_32_bold;
  display: flex;
  border-radius: $radius;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 100vw;
  opacity: 1;
  transform: translate(0, 10px);
  filter: brightness(50%) saturate(0.5);
  transition: opacity 0.5s, filter 0.5s, transform 0.5s;
  padding-bottom: $gap * 1.5;
  padding-top: $gap;

  &:global(.swiper-slide-active) {
    opacity: 1;
    filter: brightness(100%);
    transform: translate(0, 0);
  }

  @include tablet {
    padding-bottom: 0;
    padding-top: 0;
    transform: translate(0, 0);
  }
}

.image {
  max-height: calc(100vh - 70px - 70px);
  max-width: 100%;
  border-radius: $radius;
  transition: box-shadow 1s;
  box-shadow: transparentize(black, 0.7) 0 3px 5px;
  opacity: 0;

  &[src] {
    opacity: 1;
  }

  :global(.swiper-slide-active) & {
    box-shadow: transparentize(black, 0.9) 0 10px 5px 4px,
      transparentize(black, 0.7) 0 5px 5px,
      transparentize(white, 0.95) 0 -1px 2px,
      transparentize(white, 0.95) 0 -1px;
  }

  @include tablet {
    padding-bottom: 0;
    max-height: 100vh;
    border-radius: 0;
  }
}

.loader {
}
