@import 'src/styles/variables';

.wrap {
  @include flow_container();
  margin-top: $page_top_offset;
}

.description {
  grid-column: 2 / -3;
  grid-row: 1 / 4;
  height: 100%;
  font: $font_14_medium;
  overflow: auto;
  height: 100%;
}

.grid {
  @include flow_grid();

  @include flow_breakpoint(4);
  @include flow_breakpoint(3);
  @include flow_breakpoint(2) {
    .left {
      grid-column: 1 / -1;
    }
  }
}

.row {
  margin-bottom: $gap;
  height: 100%;
}

.left {
  grid-row-start: 1;
  grid-row-end: span 3;
}
