@import 'src/styles/variables';

.wrap {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: $gap;
  margin-top: $page_top_offset;
}

.grid {
  grid-template-columns: 250px 5fr;
  display: grid;
  column-gap: $gap;
  row-gap: $gap;
}

.row {
  margin-bottom: $gap;
  height: 100%;
}

.description {
  font: $font_14_semibold;
}

.stamp {
  grid-row-end: span 2;
}

.nodes {
  @include flow_grid();
}

.content {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
