@import 'src/styles/variables';

.item {
  background: $content_bg_light 50% 50% no-repeat;
  padding-bottom: 100%;
  border-radius: $cell_radius;
  cursor: pointer;
  position: relative;
  width: 100%;

  img {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

div.thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  will-change: opacity;

  .is_loaded & {
    opacity: 1;
  }
}

.letters,
.title {
  @include outer_shadow;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font: $font_24_semibold;
  color: $gray_50;
  border-radius: $cell_radius;
}

.title {
  text-transform: uppercase;
  padding: $gap * 0.5;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  word-break: break-word;
  overflow: hidden;
  color: $gray_25;

  .large & {
    font: $font_14_semibold;
  }

  .medium & {
    font: $font_12_bold;
  }
}
