.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: lighten($content_bg, 4%);
  border-radius: $radius;
}

.grid {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  flex: 1;
  border-radius: $radius;
  overflow: hidden;
  position: relative;
  background: $content_bg;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: linear-gradient(transparentize($content_bg, 1), $content_bg 90%);
    pointer-events: none;
    touch-action: none;
  }

  @include outer_shadow();
}

.items {
  padding: 0 $gap 0 $gap;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.label {
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: $gap;
  border-radius: $radius;

  @include title_with_line();

  color: transparentize(white, $amount: 0.8);

  &_search {
    color: white;
    padding-left: $gap * 1.2;
  }

  & > :global(.line) {
    margin-right: $gap;
  }
}

.label_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search {
  background: lighten($content_bg, 3%);
  border-radius: $radius $radius 0 0;
  padding: $gap;

  @include outer_shadow();
}

.search_icon {
  fill: white;
  opacity: 0.1;
  stroke: white;
  stroke-width: 0.5;
  pointer-events: none;
  touch-action: none;
}

.close_icon {
  cursor: pointer;
  stroke: white;
  stroke-width: 0.5;
  opacity: 0.5;
  transition: opacity 0.25s;

  &:hover {
    opacity: 0.7;
  }
}
