@import 'src/styles/variables';

@keyframes spin {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100vw 0;
  }
}

.loader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 100;
  align-items: center;
  justify-content: center;
  background: $global_loader_gradient;
  animation: spin infinite 1s linear;
}

.label {
  position: fixed;
  top: $gap + 4px;
  left: 50%;
  font: $font_12_semibold;
  background: red;
  z-index: 100;
  transform: translate(-50%, 0);
  padding: 2px 10px;
  border-radius: 10px;
  background: $magic_gradient;
}
