$cols: $content_width / $cell;

.grid {
  //display: grid;
  padding: $gap / 2;
  margin: 0 (-$gap / 2);
}

.grid_test {
  width: $content_width;
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-template-rows: $cell * 1.2 - 4;
  grid-auto-rows: 256px;
  grid-auto-flow: row dense;

  grid-column-gap: $grid_line;
  grid-row-gap: $grid_line;
}

.pad_last {
  grid-column-end: $cols + 1;
}
