.wrapper {
  width: 100%;
  padding: 0 $gap;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;

  @include tablet {
    padding: 0;
  }
}

.content {
  flex: 1;
  position: relative;
  width: 100%;
  max-width: $content_width;
  display: flex;
  padding-bottom: 64px;
  flex-direction: column;
}
