.wrapper {
  width: 100%;
  padding: $gap $gap 0 74px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}

.content {
  flex: 0 1 $content_width;
  position: relative;
}
