@use "sass:math";

@import "src/styles/variables";

.wrap {
  max-width: 2000px;
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
}

$cols: math.div($content_width, $cell);

.container {
  @include container;
  margin-top: $page_top_offset;

  @include tablet {
    padding: 0 $gap;
    margin-top: 0;
  }
}

.grid {
  grid-template-rows: 50vh $cell;

  @include flow_grid;
}

.pad_last {
  grid-column-end: $cols + 1;
}

.hero {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  background: darken($content_bg, 2%);
  border-radius: $radius;
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_24_semibold;
}

.stamp {
  grid-row-end: span 3;
  grid-column: -2 / -1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
  position: relative;

  @media(max-width: $flow_hide_recents) {
    grid-column-start: 1;
    grid-row-end: span 1;
  }
}
