.grid {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  flex: 1;
  background: $content_bg;
  padding: $gap;
  border-radius: 0 0 $radius $radius;

  @include outer_shadow();
}

.grid_label {
  margin-bottom: $gap;
  @include title_with_line();
  color: transparentize(white, $amount: 0.8);
}

.search {
  background: lighten($content_bg, 4%);
  border-radius: $radius $radius 0 0;
  padding: $gap;

  @include outer_shadow();
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_12_regular;
  border-radius: $radius;
  flex-direction: row;
  margin-bottom: $gap;
  color: white;
  text-decoration: none;
}

.thumb {
  height: 48px;
  margin-right: $gap;
  background: 50% 50% no-repeat;
  background-size: cover;
  border-radius: $radius;
  flex: 0 0 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.new {
    &::after {
      content: ' ';
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background: $red;
      box-shadow: $content_bg 0 0 0 5px;
      position: absolute;
      right: -2px;
      bottom: -2px;
    }
  }
}

.info {
  flex: 1;
  min-width: 0;
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font: $font_16_semibold;
}

.comment {
  font: $font_12_regular;
  margin-top: 4px;
  opacity: 0.5;
}
