.grid {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: auto;
  row-gap: $grid_line;
  justify-content: stretch;
  flex: 1;

  & > div {
    // background: $content_bg;
    // @include outer_shadow();
    // background: darken($content_bg, 4%);
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_12_regular;
  border-radius: $radius;
  flex-direction: row;
}

.thumb {
  height: 100%;
  width: 40px;
  margin-right: $grid_line;
  // padding-left: 100%;
  background: red;
  // flex:
}

.info {
  flex: 1;
}
