@import "~/styles/variables.scss";

.image {
  position: absolute;
  opacity: 0;

  &.is_loaded {
    opacity: 1;
    position: static;
  }
}

.preview {
  border-radius: $radius;

  &.is_loaded {
    display: none;
  }
}

.icon {
  position: absolute;
  right: 30px;
  bottom: 40px;
  opacity: 0.4;

  svg {
    fill: currentColor;
  }
}

.error {
  position: absolute;
  right: 30px;
  bottom: 40px;
  opacity: 0.4;
  color: $orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  svg {
    fill: $orange;
  }

  &__text {
    max-width: 200px;
    text-align: right;
    margin-right: $gap;
    font: $font_16_semibold;
    line-height: 24px;
  }
}
