@import "~/styles/variables.scss";

.title {
  font: $font_14_semibold;
  color: darken(white, 50%);
  text-transform: uppercase;
  padding: 0 $gap / 2;
}

.tags.tags {
  margin: 0 -$gap / 2;
}

.heroes {
  margin-top: -$gap;
}

.card {
  @include lab_shadow;

  border-radius: $radius;
  background: $comment_bg;
  padding: $gap;
}

.updates {
  padding: 0 $gap / 4 $gap * 2;
}
