@import 'src/styles/variables.scss';

.title {
  padding-bottom: $gap;
}

.tags.tags {
  margin: 0 -$gap * 0.5;
}

.heroes {
  margin-top: -$gap;
}

.card {
  @include outer_shadow;

  border-radius: $radius;
  background: $content_bg_light;
  padding: $gap;
}

.updates {
  padding: 0 $gap * 0.25 $gap * 2;
}
