.pane {
  width: 54px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: $gap 0;
  display: flex;
  flex-direction: column;
}

.group {
  width: 54px;
  border-radius: $panel_radius;
  background: $panel_bg;
  box-sizing: border-box;

  &:global(.logo) {
    height: (54px * 1.5) + $gap / 2;
    background: white;
    background-size: 140px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    box-shadow: inset #111111 0 -1px, inset #222222 0 1px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font: $font_24_semibold;
  }

  .btn {
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $panel_radius;
      border-top-right-radius: $panel_radius;
    }

    &:last-child {
      border-bottom-left-radius: $panel_radius;
      border-bottom-right-radius: $panel_radius;
    }
  }
}

.btn {
  height: 54px;
  box-shadow: inset transparentize(black, 0.9) 0 -1px, inset transparentize(white, 0.95) 0 1px;
  border-radius: $panel_radius;
  background: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_24_semibold;

  &:global(.orange) {
    background: linear-gradient(280deg, $red, $orange);
    color: transparentize(black, 0.7);
  }
}

.flexy {
  flex: 1;
}
