.pane {
  width: 54px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: $gap / 2 0;
  display: flex;
  flex-direction: column;
}

.group {
  width: 54px;
  border-radius: 4px;
  margin: ($gap / 2) 0;
  background: #191919;
  box-sizing: border-box;
  box-shadow: #111111 0 0 0 1px;

  &:global(.logo) {
    color: white;
    height: (54px * 1.5) + $gap / 2;
    //background: url('http://vault48.org/pixmaps/logo.png') no-repeat -20px -40px #191919;
    background: white;
    // #c1543d
    background-size: 140px;
    font-weight: 600;
    font-family: Raleway;
    font-size: 14px;
    text-align: center;
    padding-top: 66px;
    box-shadow: inset #111111 0 -1px, inset #222222 0 1px;
  }
}

.btn {
  height: 54px;
  box-shadow: inset #111111 0 -1px, inset #222222 0 1px;
  border-radius: 4px;
}

.flexy {
  flex: 1;
}
