@import 'src/styles/variables';

.wrap {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 0;
}

.content {
  flex: 0 1 $content_width;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  border-radius: $radius $radius 0 0;
  box-sizing: border-box;
  padding: $gap;
  min-height: 64px;
  min-width: 0;

  @include tablet {
    border-radius: 0;
    height: auto;
    min-height: 40px;
  }
}

.title {
  text-transform: uppercase;
  font: $font_24_semibold;
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis;

  @include tablet {
    @include clamp(2);

    padding-bottom: 0;
    font: $font_16_semibold;
  }
}

.name {
  font: $font_12_regular;
  color: $gray_50;
  text-transform: lowercase;

  @include tablet {
    font: $font_12_regular;
  }
}

.panel {
  flex: 1;
  min-width: 0;
}

.buttons {
  margin-top: 12px;
  margin-right: $gap;

  @include tablet {
    margin-top: 6px;
  }
}

.button {
  @include hover_opacity;
  color: white;
  cursor: pointer;
}
