@import 'src/styles/variables';

.placeholder {
  height: 320px;
  background: $content_bg_dark;
  border: $radius $radius 0 0;
  @include outer_shadow();

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: $gray_90;
  }
}
