@import 'src/styles/variables.scss';

.wrap {
  @include outer_shadow;

  position: relative;
  background-color: $content_bg;
  cursor: pointer;

  min-width: 0;
  border-radius: $radius;

  &.heroic {
    @include hero_gradient;
  }
}
