@import "src/styles/variables.scss";

.wrap {
  @include outer_shadow;

  position: relative;
  background-color: $lab_post_bg;
  cursor: pointer;

  min-width: 0;
  border-radius: $radius;

  &.heroic {
    @include hero_gradient;
  }
}
