@import 'src/styles/variables.scss';

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popper {
  @include outer_shadow;

  background-color: $content_bg_darker;
  padding: $gap;
  box-sizing: border-box;
  touch-action: none;
  pointer-events: none;
  border-radius: $radius;
  animation: appear forwards 250ms;
  z-index: 100;
}

.username {
  font: $font_18_semibold;
  line-height: 1.25em;
}

.description {
  @include clamp(2, 12px);

  font: $font_12_regular;
  opacity: 0.5;
  margin-top: 3px;
  line-height: 1.25em;
}
