@import '~/styles/variables';

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $gap;
}

.search {
  background-color: var(--content_bg_lighter);
}

.grid {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  gap: $gap;
  padding: $gap;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: linear-gradient(transparent, $content_bg 90%);
    pointer-events: none;
    touch-action: none;

    @include tablet {
      display: none;
    }
  }

  &.noUpdates {
    @container sizer (width < #{$flow_hide_recents}) {
      display: none;
    }
  }
}

.items.recent {
  @container sizer (width < #{$flow_hide_recents}) {
    display: none;
    background-color: red;
  }
}

.items {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.search_icon {
  stroke-width: 0.5;
  pointer-events: none;
  touch-action: none;
}

.close_icon {
  cursor: pointer;
  stroke-width: 0.5;
  transition: opacity 0.25s;
}
