@import 'src/styles/variables';

.container {
  width: 100vw;
}

.menu {
  flex: 1 0;
  padding: $gap;
}

.content {
  @include outer_shadow;

  border-radius: $radius;
  flex: 3;
  background: $content_bg;
}

.card {
  padding: 0;
  display: flex;
  flex-direction: row;
  margin-top: $page_top_offset;
  background: $content_bg_dark;

  @include tablet {
    margin-top: 0;
    flex-direction: column;
  }
}
