@keyframes appear {
  0% { opacity: 0 }
  100% { opacity: 100 }
}

.window {
  box-shadow: transparentize(black, 0.5) 4px 4px 4px, inset transparentize(white, 0.95) 1px 1px;

  position: absolute;
  top: 0;
  right: 0;
  width: calc(90vw - 20px);
  max-width: 300px;
  background: lighten($content_bg, 4%);
  height: 100px;
  z-index: 10;
  border-radius: 3px;
  padding-top: $tag_height;
  animation: appear 0.25s forwards;
}
