.text {
  padding: $gap / 2;
  font-weight: 300;

  b {
    font-weight: 600;
  }
}

.images {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  column-gap: $grid_line;
}
