.text {
  padding: $gap / 2;
  font-weight: 300;
  font: $font_16_regular;

  b {
    font-weight: 600;
  }
}

@import 'flexbin/flexbin.scss';

.images {
  padding: 10px;

  @include flexbin(150px, 10px);

  img {
    border-radius: $radius;
  }
}
