@import "~/styles/variables.scss";

.wrap {
  padding: $lab_gap - $gap $lab_gap 0;
}

.title {
  text-transform: uppercase;
  font: $font_24_semibold;
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis;

  a {
    text-decoration: none;
    color: inherit;
  }

  @include tablet {
    white-space: nowrap;
    padding-bottom: 0;
    font: $font_20_semibold;
  }
}

.star {
  fill: $yellow;
  flex: 0 0 24px;
}
