@import "src/styles/variables.scss";

.wrap {
  padding: $lab_gap - $gap $lab_gap 0;

  @include tablet {
    padding: $gap $lab_gap_mobile 0;
  }
}

.title {
  text-transform: uppercase;
  font: $font_24_semibold;
  overflow: hidden;
  flex: 1;
  text-overflow: ellipsis;
  word-break: break-word;

  @include clamp(2, 1.2em);

  a {
    text-decoration: none;
    color: inherit;
  }

  @include tablet {
    padding-bottom: 0;
    font: $font_20_semibold;
  }
}

.star {
  fill: darken(white, 50%);
  flex: 0 0 24px;
}
