@import 'src/styles/variables';
@import '~flexbin/flexbin';

.images {
  cursor: pointer;
  overflow: visible !important;

  &.multiple {
    // Desktop devices
    @include flexbin(300px, $flexbin-space);

    // Tablet devices
    @media (max-width: $flexbin-tablet-max) {
      @include flexbin($flexbin-row-height-tablet, $flexbin-space-tablet);
    }

    // Phone devices
    @media (max-width: $flexbin-phone-max) {
      @include flexbin($flexbin-row-height-phone, $flexbin-space-phone);
    }
  }
}

.image {
  max-height: 300px;
  border-radius: $radius;
  max-width: 100%;

  .multiple & {
    // both of that were 250px,
    // if you know why it should be like this, tell me
    // it messes up with the flexbin above
    max-height: 300px;
    max-inline-size: 300px;
  }
}

.item {
  border-radius: $radius;
}
