.wrapper {
  height: $input_height;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: $input_height;
}

.label {
  background: transparentize(black, 0.8);
  font: $font_14_medium;
  // color: transparentize(white, 0.5);
  text-transform: uppercase;
  padding: 2px $gap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: $radius 0 0 $radius;
  @include input_shadow();
}

.container {
  height: $input_height;
  background: $input_bg_color;
  border-radius: $input_radius;
  flex-direction: row;
  flex: 1 0;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  justify-content: center;
  @include input_shadow();
}

.input {
  outline: none;
  background: transparent;
  flex: 1;
  border: none;
  font-size: inherit;
  color: white;
  padding: 0 $gap;
  box-sizing: border-box;
}
