@import 'src/styles/variables';

.wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 $gap * 0.5;
}

.tab {
  @include outer_shadow();

  padding: $gap;
  margin-right: $gap;
  border-radius: $radius $radius 0 0;
  font: $font_14_semibold;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $content_bg;
  color: white;
  text-decoration: none;
  border: none;

  &.active {
    background: $content_bg_lighter;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
}
