@import "src/styles/variables.scss";

.wrap {
  padding: $lab_gap / 2 $lab_gap 0;
  line-height: 1.3em;

  @include tablet {
    @include clamp(10, 1.3*16px);
    line-height: 1.3em;
    font: $font_16_regular;
    padding: 0 $lab_gap_mobile;
    margin: $lab_gap_mobile / 2 0;
  }
}
