@keyframes fade {
  0% {
    // opacity: 0.25;
  }
  100% {
    // opacity: 0.1;
  }
}
.wrap {
  user-select: none;
  height: 300px;
  overflow: hidden;
  position: relative;

  // @include after_shade($node_bg);

  &:global(.is_loading) {
    opacity: 1;

    .card {
      background: $placeholder_bg;
      animation: fade 0.5s infinite alternate;
    }
  }
}

.card {
  opacity: 0.3;
  border-radius: $radius;
  height: 96px;
  background: $placeholder_bg;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font: $font_18_semibold;
  color: transparentize(white, 0.5);
  flex: 0 0 $comment_height;

  // @include outer_shadow();

  &:nth-child(2) {
    // animation-delay: -300ms !important;
  }

  &:nth-child(3) {
    // animation-delay: -600ms !important;
  }
}
