.wrap {
  user-select: none;
  // height: 300px;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;

  &::after {
    content: ' ';
    position: absolute;
    background: linear-gradient(transparentize($node_bg, 1), $node_bg);
    border-radius: 0 0 $radius $radius;
    height: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  &:global(.is_loading) {
    opacity: 1;

    .card {
      background: $placeholder_bg;
      animation: fade 0.5s infinite alternate;
    }
  }

  @include tablet {
    display: none;
  }
}

.card {
  opacity: 0.3;
  border-radius: $radius;
  height: 96px;
  background: $placeholder_bg;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font: $font_18_semibold;
  color: transparentize(white, 0.5);
  flex: 0 0 $comment_height;
}
