@import "src/styles/variables";

.wrap {
  position: sticky;
  bottom: 0;
  pointer-events: none;
  touch-action: none;
  height: $bar_height;
  display: flex;
  z-index: 10;
  width: 100%;
  left: 0;
  align-items: center;
  justify-content: center;
  //padding: 0 calc(min(100vw, #{$content_width}) - 64px) 0 $gap;
  box-sizing: border-box;
  padding: 0;
}

.content {
  position: relative;
  flex: 0 1 $content_width;
  height: $bar_height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.padder {
  display: flex;
  flex-basis: calc(min(100vw - 94px, #{$content_width}));
  align-items: center;
  justify-content: flex-end;

  & > div {
    pointer-events: all;
    touch-action: auto;
  }
}
