@import 'src/styles/variables';

.badge {
  padding: $gap;
  text-align: center;
  border-radius: $radius;
  color: $color_danger;
  padding: $gap * 4 $gap;
  text-transform: uppercase;
  font: $font_18_semibold;
}
