@import 'src/styles/variables';

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
  height: 100%;
}

.head {
  @include row_shadow;

  width: 100%;
  padding: $gap;
}

.list {
  @include row_shadow;

  overflow-y: auto;
  flex: 1 1;
  overflow: auto;
  padding: 10px;
  width: 100%;
}
