@import "src/styles/variables";

.stats {
  &__title {
    font: $font_12_semibold;
    text-transform: uppercase;
    margin: $gap * 2 0 $gap;

    span {
      opacity: 0.3;
    }

    img {
      float: right;
    }
  }
}
