@import 'src/styles/variables.scss';

.card {
  flex: 3;
  align-self: stretch;
  position: relative;
  z-index: 1;
  padding: 20px 30px;
  background-color: $content_bg_lighter;
}

.sample {
  flex-wrap: wrap;
}
