.wrap {
  justify-content: flex-start;
  align-items: flex-start !important;
  // min-height: 64px;
  // padding: $gap;
  box-sizing: border-box;
  position: relative;
}

.avatar {
  @include outer_shadow();

  border-radius: $radius;
  width: 100px;
  height: 100px;
  background: $content_bg 50% 50% no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: $gap;
}

.field {
  padding: $gap 0 0 120px;
  flex: 1;
  // padding-bottom: 5px;
}

.name {
  font: $font_24_bold;
  margin-bottom: 4px;
}

.description {
  color: transparentize($color: white, $amount: 0.7);
  font: $font_14_regular;
}
