@import 'src/styles/variables';

.wrap {
  justify-content: flex-start;
  align-items: flex-start !important;
  box-sizing: border-box;
  position: relative;
}

.avatar {
  position: absolute;
  bottom: 0;
  left: $gap;
}

.field {
  padding: $gap 0 0 120px;
  flex: 1;
  // padding-bottom: 5px;
}

.name {
  font: $font_24_bold;
  margin-bottom: 4px;
}

.description {
  color: $gray_25;
  font: $font_14_regular;
}
