$cols: $content_width / $cell;

.grid {
  padding: $gap / 2;
  margin: 0 (-$gap / 2);
}

.grid_test {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($cell, 1fr));
  grid-template-rows: $cell;
  grid-auto-rows: $cell;
  grid-auto-flow: row dense;
  grid-column-gap: $grid_line;
  grid-row-gap: $grid_line;
}

.pad_last {
  grid-column-end: $cols + 1;
}

.hero {
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: -1;
  // gridRow: "1 / 2",
  // gridColumn: "1 / -1",
  background: darken($content_bg, 2%);
  border-radius: $radius;
  // height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_24_semibold;
}

.stamp {
  // grid-row: -1 / 3;
  grid-row-end: span 3;
  grid-column: -2 / -1;
  background: darken($content_bg, 8%);
  border-radius: $radius;
  padding: $gap;
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_24_semibold;
}
