@import "src/styles/variables";

.wrap {
  // padding: $gap;
  //background: transparentize(black, 0.8);
  border-radius: $panel_radius;
  padding: $gap 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-column-gap: $gap;
  grid-row-gap: $gap;

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }
}

.title {
  @include title_with_line();

  a {
    text-decoration: none;
    color: inherit;
  }
}

.text {
  margin-left: $gap / 2;
}

.placeholder {
  .text {
    opacity: 1;
  }

  .grid {
    div {
      background: $placeholder_bg;
    }
  }
}
