.wrap {
  // padding: $gap;
  //background: transparentize(black, 0.8);
  border-radius: $panel_radius;
  padding: $gap 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-column-gap: $gap;
  grid-row-gap: $gap;

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }
}

.item {
  background: lighten($content_bg, 2%) 50% 50% no-repeat;
  background-size: cover;
  padding-bottom: 100%;
  border-radius: $cell_radius;
  cursor: pointer;
}

.title {
  font: $font_14_semibold;
  text-transform: uppercase;
  color: transparentize(white, 0.3);
  flex-direction: row;
  display: flex;
  align-items: center;
}

.line {
  display: none;
  flex: 1;
  height: 2px;
  background: transparentize(white, 0.95);
}

.text {
  margin: 0 $gap;
}
