@import "~/styles/variables.scss";

.wrap {
  @include lab_shadow;

  border-radius: $radius;
  background-color: $content_bg;
  padding: $gap;
}

.group {
  display: flex;

  @include tablet {
    flex-wrap: wrap;
  }

  & > * {
    margin: $gap / 2;
  }
}
