@import "src/styles/variables.scss";

.wrap {
  @include inner_shadow;

  border-radius: $radius;
  background-color: $content_bg;
  padding: 0 $gap * 0.5;
}

.group {
  display: flex;

  @include tablet {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  & > * {
    padding: $gap;
  }
}
