@import 'src/styles/variables';

.card {
  background-color: $content_bg;
  border-radius: $panel_radius;
  padding: $gap;

  &.elevation--1 {
    @include inner_shadow;
    background: linear-gradient(135deg, $content_bg_dark, $content_bg);
  }

  &.elevation-1 {
    @include outer_shadow();
  }

  &.elevation-0 {
    background: $content_bg_light;
  }

  &:global(.seamless) {
    padding: 0;
  }
}
