@import 'src/styles/variables';

$compact_size: 200px;

.cell {
  @include inner_shadow;

  position: relative;
  overflow: hidden;
  border-radius: $radius;
  width: 100%;
  height: 100%;
  background: $content_bg;
  container: cell / inline-size;
}

.thumb {
  @include outer_shadow;

  border-radius: $radius;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.shade {
  @include outer_shadow;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.text {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  border-radius: $radius;
  box-sizing: border-box;
  inset: 50% 0 0 0;
  padding: $gap $gap * 1.5 0 $gap * 1.5;
  font: $font_14_medium;
  line-height: 1.25em;

  @container (max-width: $compact_size) {
    padding: $gap / 2 $gap 0 $gap;
  }

  & :global(.grey) {
    color: inherit;
    opacity: 0.5;
  }

  @container (max-width: #{$compact_size}) {
    padding: $gap / 2 $gap 0 $gap;
  }

  .horizontal &,
  .quadro & {
    @container (max-width: #{$compact_size * 2}) {
      padding: $gap / 2 $gap 0 $gap;
    }
  }

  .horizontal & {
    inset: 0 calc(50% + $gap / 2) 0 0;
    border-radius: $radius 0 0 $radius;
  }

  .vertical & {
    inset: calc(50% + $gap / 2) 0 0 0;
    border-radius: 0 0 $radius $radius;
  }

  .quadro & {
    inset: calc(50% + $gap / 2) calc(50% + $gap / 2) 0 0;
    border-radius: 0 $radius 0 $radius;
  }

  .title {
    margin-bottom: 0.1em;
  }
}

.title_wrapper {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: $gap;
  position: absolute;
}

.title {
  font: $font_cell_title;
  line-height: 1.2em;
  text-transform: uppercase;
  word-break: break-word;
  color: inherit;
  margin-bottom: -0.125em;

  @container (max-width: #{$compact_size}) {
    font: $font_cell_title_compact;
  }

  .horizontal &,
  .quadro & {
    @container (max-width: #{$compact_size * 2}) {
      font: $font_cell_title_compact;
    }
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
}

.link {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  color: inherit;
  text-decoration: inherit;
  font: inherit;
  line-height: inherit;

  &.vertical {
    flex-direction: column-reverse;
  }
}

.display_modal {
  position: absolute;
  inset: 0;
  z-index: 11;
}
