@import 'src/styles/variables';

.cell {
  @include inner_shadow;

  position: relative;
  overflow: hidden;
  border-radius: $radius;
  width: 100%;
  height: 100%;
  background: $content_bg;
}

.thumb {
  @include outer_shadow;

  border-radius: $radius;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.shade {
  @include outer_shadow;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.text {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  border-radius: $radius;
  box-sizing: border-box;
  font: $font_14_medium;
  line-height: 1.25em;
  inset: 50% 0 0 0;

  &.bright {
    color: var(--content_bg_lightest);
  }

  @include tablet {
    font: $font_12_medium;
    left: 5px;
    bottom: 5px;
  }

  & :global(.grey) {
    color: inherit;
    opacity: 0.5;
  }

  .horizontal & {
    inset: 0 calc(50% + $gap / 2) 0 0;
    border-radius: $radius 0 0 $radius;
  }

  .vertical & {
    inset: calc(50% + $gap / 2) 0 0 0;
    border-radius: 0 0 $radius $radius;
  }

  .quadro & {
    inset: calc(50% + $gap / 2) calc(50% + $gap / 2) 0 0;
    border-radius: 0 $radius 0 $radius;
  }
}

.title_wrapper {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: $gap;
  position: absolute;
}

.title {
  font: $font_cell_title;
  line-height: 1.2em;
  text-transform: uppercase;
  word-break: break-word;
  color: inherit;

  @include tablet {
    font: $font_16_semibold;
  }
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 6;
}

.link {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  color: inherit;
  text-decoration: inherit;
  font: inherit;
  line-height: inherit;

  &.vertical {
    flex-direction: column-reverse;
  }
}

.display_modal {
  @include appear;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}
