@import "src/styles/variables";

.dropdown {
  @include outer_shadow;
  @include blur($red, 15px, 0.3);

  width: 100%;
  height: 100%;
  border-radius: $radius;
  padding: $gap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: grid;
  grid-auto-flow: row;
  fill: white;
  grid-row-gap: $gap;

  svg {
    fill: white;
    stroke: white;
    cursor: pointer;
  }
}

.sep {
  @include outer_shadow;
  height: 1px;
}

.display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: $gap;
  grid-column-gap: $gap;
}

.description {
  margin-top: $gap;
  font: $font_12_semibold;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  padding: 0 4px;

  span {
    flex: 1;
    text-align: right;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
