@import "src/styles/variables";

.wrap {
  background: $content_bg;
  border-radius: $radius;

  & > div {
    @include outer_shadow();

    &:first-child {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }
}
