@import 'src/styles/variables';

.container {
  min-height: $info_height;
  border-radius: $radius;
  display: flex;
  align-items: center;
  justify-content: center;
  font: $font_14_regular;
  line-height: 1.2em;
  padding: $gap;
  background: transparentize(white, 0.9);

  &:global(.danger) {
    color: white;
    background: transparentize($red, 0.5);
  }

  &:global(.warning) {
    color: white;
    background: transparentize($red, 0.5);
  }

  &:global(.primary) {
    color: white;
    background: transparentize($red, 0.5);
  }
}
