@import "src/styles/variables.scss";

div.wrap {
  display: flex;
  width: 100%;
  margin-right: 0;

  @include tablet {
    padding: 0 $gap * 0.5;
  }
}

.column {
  background-clip: padding-box;
  box-sizing: border-box;
  padding: 0 $gap * 0.5;
  margin-top: -$gap * 0.5;

  @include tablet {
    padding: 0;
  }

  & > div {
    margin-bottom: $gap;
  }
}
