@import "~/styles/variables.scss";

$gutter: $gap * 2;

.wrap {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: 100%;
  position: relative;
  left: -$gutter;
}

.column {
 padding-left: $gutter; /* gutter size */
  background-clip: padding-box;

  & > div {
    margin-bottom: $gutter;
  }
}
