@import 'src/styles/variables';

.wrap {
  position: relative;
  z-index: 2;

  &:hover .menu {
    display: flex;
  }
}

.user_button {
  align-items: center;
  border-radius: $radius;
  font: $font_16_semibold;
  text-transform: uppercase;
  flex: 0 !important;
  cursor: pointer;
  margin-left: $gap;
  white-space: nowrap;
  padding: 0;
}

.user_avatar {
  @include outer_shadow();

  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  background: white;
  border-radius: $radius;
  margin-left: ($gap + 2px) !important;
  background: 50% 50% no-repeat $color_primary;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  svg {
    fill: #222222;
    stroke: #222222;
    width: 24px;
    height: 24px;
  }

  @include tablet {
    margin-left: 0 !important;
  }
}

.username {
  @include tablet {
    display: none;
  }
}
