.wrap {
  position: relative;
  z-index: 2;

  &:hover .menu {
    display: flex;
  }
}

.menu {
  position: absolute;
  right: -$gap;
  top: 100%;
  padding: $gap;
  border-radius: $radius;
  display: none;
  z-index: 1;
  // min-width: 100%;
  box-sizing: border-box;
  // transform: translate(0, $gap);
  padding: $gap;

  &::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent $content_bg transparent;
    position: absolute;
    right: 0;
    top: -4px;
    transform: translate(-20px, 0);
  }

  & > div {
    background: $content_bg;
    padding: $gap $gap * 2;
    cursor: pointer;
    box-sizing: border-box;
    transition: opacity 0.25s;
    width: 100%;

    &:first-child {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

  &:hover > div {
    opacity: 1;
  }
}

.user_button {
  align-items: center;
  border-radius: $input_radius;
  font: $font_16_semibold;
  text-transform: uppercase;
  flex: 0 !important;
  cursor: pointer;
  margin-left: $gap;
  white-space: nowrap;
  // box-shadow: inset transparentize($content_bg, 0.8) 0 0 0 1px;
  // background: transparentize($content_bg, 0.1);
  padding: 0;
}

.user_avatar {
  @include outer_shadow();

  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  background: white;
  border-radius: $radius;
  margin-left: ($gap + 2px) !important;
  background: 50% 50% no-repeat $wisegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  svg {
    fill: #222222;
    stroke: #222222;
    width: 24px;
    height: 24px;
  }
}
