.blur {
  filter: blur(0);
  transition: filter 0.25s;
  will-change: filter;
  padding-top: 100px + $gap;

  @include tablet {
    padding-top: 64px + $gap;
  }

  &.is_blurred {
    filter: blur(15px);

    @include can_backdrop {
      filter: blur(0);
    }
  }
}
