.blur {
  filter: blur(0);
  transition: filter 0.25s;
  will-change: filter;
  padding-top: $header_height + 2px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh;

  &.is_blurred {
    filter: blur(15px);

    @include can_backdrop {
      filter: blur(0);
    }
  }
}
